<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Dancing+Script" rel="stylesheet">
    <title>Diary Entries</title>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="holder">
            <!-- Begining of the side menu -->
            <div class="side-menu">
                <h1>Menu</h1>
                <ul>
                    <li><a href="new-entry.html">New Entry</a></li>
                    <li><a href="diary-entries.html">View Entries</a></li>
                    <li><a href="profile.html">My profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
            <!--VIEW ENTRIES -->
            <div class="entry-form">
                <h1> Diary Entries</h1>
                <div class="entries">
                    <div id="message">
                        <p></p>
                    </div>
                    
                    <!-- ENTRIES TABLE -->
                    <table class="entriestable">                            
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
 <script src="../static/js/entries.js"></script>
</body>
</html>