<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Dancing+Script" rel="stylesheet">
    <title>New Diary Entry</title>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="holder">
            <!-- Begining of the side menu -->
            <div class="side-menu">
                <h1>Menu</h1>
                <ul>
                    <li><a href="diary-entries.html">View Entries</a></li>
                    <li><a href="profile.html">My profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
            <!--DIARY ENTRY FORM -->
            <div class="view-entry">
                <h1>Diary Entry 1</h1>
                <article>
                    <p>Posted on <span> Thursday, July 2018. </span> By <span>Kelvin Kitika</span> </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ducimus debitis quam cum fuga tenetur necessitatibus tempore veritatis nemo aliquid, inventore quis? Quaerat laboriosam iure ratione odit non velit ex.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam autem voluptas fugit voluptatum ea nulla. Eum dolore delectus ipsam. Dignissimos, culpa dolorem id iusto fuga eius et corporis similique minima.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia inventore deleniti fuga vitae iusto doloribus repellat, consequuntur, velit impedit rerum nam odit quia, sapiente vero quisquam quibusdam? Nesciunt, quaerat nostrum.</p>
                </article>
            </div>
        </div>
    </div>
</div>

</body>
</html>