<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Dancing+Script" rel="stylesheet">
    <title>User Profile</title>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="holder">
            <!-- Begining of the side menu -->
            <div class="side-menu">
                <h1>Menu</h1>
                <ul>
                    <li><a href="new-entry.html">New Entry</a></li>
                    <li><a href="diary-entries.html">View Entries</a></li>
                    <li><a href="profile.html">My profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
            <!-- USER PROFILE -->
            <div class="profile">
                <h1>User Profile</h1>
                <form action="">
                    <div class="input">
                        <label for="First name">First Name: </label>
                        <input type="text" placeholder="First Name" >
                    </div>
                    <div class="input">
                        <label for="second name">Second Name: </label>
                        <input type="text" placeholder="Last Name">
                    </div>
                    <div class="input">
                        <label for="email">Email: </label>
                        <input type="email" placeholder="me@email.com" disabled>
                    </div>
                    <div class="input">
                        <span>You have had 3 entries so far</span>
                    </div>
                    <div class="input">
                        <label for="reminder settings">Enable Daily Reminders</label>
                        <input type="checkbox" name="reminder" id="reminder" value="True">
                    </div>
                    <div class="user-button">
                        <a href="" class="button">Save</a>
                        <a href="" class="button">Discard</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>