<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Dancing+Script" rel="stylesheet">
    <title>Update Entry</title>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="holder">
            <!-- Begining of the side menu -->
            <div class="side-menu">
                <h1>Menu</h1>
                <ul>
                    <li><a href="diary-entries.html">View Entries</a></li>
                    <li><a href="profile.html">My profile</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
            <!--DIARY ENTRY FORM -->
            <div class="entry-form">
                <h1>Update Entry</h1>
                <div id="message">
                    <p id="display-message"></p>
                </div>
                <form action="">                                          
                    <div class="input">
                        <input type="text" placeholder="Title" name="title">
                    </div>
                    <br>
                    <br>                 
                    <div class="input">
                        <textarea name="story" id="text-area" cols="40" rows="20" placeholder="Enter your Story..."></textarea>
                    </div>
                    <a href="" class="button update">Save</a>
                    <a href="" class="button">Discard</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/update_entry.js"></script>
</body>
</html>